:root {
  --navbar-height-base: 7.375rem; /* Navbar height on smaller screens */
  --navbar-height-md: 9.375rem; /* Navbar height on medium and larger screens */
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  padding-top: var(--navbar-height-base);
}

@media (min-width: 768px) {
  .content-container {
    padding-top: var(--navbar-height-md);
  }
}
